<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iToDoList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6FD23FEB1BC3820A0058A699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FD240001BC3820A0058A699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FD2400B1BC3820A0058A699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
